@font-face {
  font-family: 'quartz';
  src: url('../fonts/quartz.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'orbitron';
  src: url('../fonts/orbitron.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

